
.login-field {
    margin-bottom: 16px;
}

.login-field-label {
    font-size: 18px;
    margin-bottom: 4px;

}


.login-textfield input {
    background: rgba(255, 255, 255, 0.85);
    border-radius: 50px;
    padding: 9px 15px;
}


.login-textfield .MuiOutlinedInput-root fieldset {
    border-radius: 50px;
}

.login-textfield .MuiOutlinedInput-root:hover fieldset {
    border-color: #0ea5e9;
}

.login-textfield .MuiOutlinedInput-root.Mui-focused fieldset {
    border-color: #0284c7;
}


.login-subtext {
    font-size: 16px;
    color: #0f172a;
    font-weight: 500;
    text-decoration: none;
}


.login-textfield input:-webkit-autofill,
.login-textfield input:-webkit-autofill:focus{
    border-radius: 50px !important;
}