html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #f5f8fb;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

@media (max-width: 446px) {
    .css-jfdv4h-MuiStack-root > :not(style) ~ :not(style) {
        margin-top: 0 !important;
    }
}

.css-1cxa0z1-MuiContainer-root {
    padding: 12px !important;
}