html, body, #root {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#viewport {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    perspective: 1500px;
    overflow: hidden;
    background: linear-gradient(to top, rgb(69,132,180) 28%, rgb(31,71,120) 64%);
}

#world {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    transform-style: preserve-3d;
}

.cloudBase {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 50%;
    margin-left: -10px;
    margin-top: -10px;
    transform-style: preserve-3d;
}

.cloudLayer {
    position: absolute;
    width: 512px;
    height: 512px;
    top: -100%;
    left: 50%;
    margin-left: -128px;
    margin-top: -128px;
    transition: opacity 0.5s ease-out;
    background-color: transparent;
}
